torch>=1.12.*
torchvision>=0.13.*
torchmetrics==0.9.3
tensorboard
numpy
PyYAML
tqdm
mini-lightning>=0.1.*
# 
pandas
matplotlib
seaborn
pillow
opencv-python
sklearn
transformers>=4.22.*
datasets>=2.5.*
gym>=0.26.*
pygame